$green: #91d18b;
$blue: #51adcf;
$dark: rgb(75, 73, 73);
$shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
$shadowlight: 1px 1px 5px rgba(0, 0, 0, 0.1);
$mediaSM: 390px;

@mixin btnLG {
  padding: 10px 12px;
  background-color: $green;
  border: 0;
  width: 150px;
  border-radius: 20px;
  font-size: 1.2rem;
  outline: none;
  transition: all ease 0.3s;

  &:hover {
    box-shadow: $shadow;
    cursor: pointer;
    transform: translateY(-2px);
  }
}

@mixin cardLG {
  padding: 10px 12px;
  width: 250px;
  height: 150px;
  background-color: white;
  box-shadow: $shadow;
  border-radius: 20px;
  outline: none;
  transition: all ease 0.5s;

  &:hover {
    transform: translateY(-7px);
  }
}

@mixin circleLG {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

@mixin inputLG {
  padding: 15px 20px;
  border-radius: 10px;
  border: 0;
  outline: none;
  width: 600px;
  // height: 70px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $shadowlight;

  &:focus {
    background-color: $blue;
    color: white;

    &::placeholder {
      color: white;
    }
  }
}

@mixin flexSVG {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
