$green: #91d18b;
$blue: #51adcf;
$dark: rgb(75, 73, 73);
$shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

@mixin btnLG {
  padding: 10px 12px;
  background-color: $green;
  border: 0;
  width: 150px;
  border-radius: 20px;
  font-size: 1.2rem;
  outline: none;
  transition: all ease 0.3s;

  &:hover {
    box-shadow: $shadow;
    cursor: pointer;
    transform: translateY(-2px);
  }
}

@mixin cardLG {
  padding: 10px 12px;
  width: 250px;
  height: 150px;
  background-color: white;
  box-shadow: $shadow;
  border-radius: 20px;
  outline: none;
  transition: all ease 0.5s;

  &:hover {
    transform: translateY(-7px);
  }
}

@mixin circleLG {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}
