@import "./resets";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  overflow: hidden;

  @media screen and (max-width: $mediaSM) {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .navbar-container {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 10vw;

    @media screen and (max-width: $mediaSM) {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 70px;
      width: 100vw;
      box-shadow: $shadowlight;
      z-index: 99;
    }

    img {
      width: 50px;
      margin-top: 100px;
      margin-left: 40px;

      @media screen and (max-width: $mediaSM) {
        display: none;
      }
    }

    .theme {
      margin-top: 200px;
      margin-left: 45px;

      .themes {
        display: none;
      }
      .active {
        display: block !important;
      }
    }

    ul {
      margin-top: 150px;
      margin-left: 45px;
      font-size: 1.1rem;

      @media screen and (max-width: $mediaSM) {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        margin: auto;
        height: 100%;
      }

      li {
        margin-bottom: 30px;

        @media screen and (max-width: $mediaSM) {
          margin: auto;
        }

        span {
          display: none;
          transition: all ease 0.3s;
        }

        svg {
          font-size: 1.7rem;
        }

        &:hover {
          color: $green;
          cursor: pointer;

          span {
            display: inline;
          }
        }
      }
    }
  }

  .content-container {
    margin-left: 12vw;
    // overflow-y: scroll;

    @media screen and (max-width: $mediaSM) {
      margin: 0;
    }

    .home {
      display: grid;
      grid-template-columns: 4fr 1fr;

      @media screen and (max-width: $mediaSM) {
        display: block;
      }

      .home-left {
        h1 {
          margin-top: 200px;
          margin-left: 30px;
          font-size: 3rem;

          @media screen and (max-width: $mediaSM) {
            margin-top: 100px;
            margin-left: 20px;
            font-size: 2rem;
            max-width: 250px;
          }
        }

        p {
          margin-left: 30px;
          max-width: 700px;

          @media screen and (max-width: $mediaSM) {
            margin-left: 20px;
            max-width: 300px;
          }
        }

        button {
          margin-top: 50px;
          margin-left: 30px;
          margin-bottom: 10px;
          display: inline;
          font-weight: bolder;
          color: $dark;
          @include btnLG;

          @media screen and (max-width: $mediaSM) {
            margin-left: 20px;
          }
        }

        #disable {
          font-size: 0.9rem;
          opacity: 0.5;
        }

        .env {
          margin-top: 130px;
          margin-left: 30px;
          display: flex;
          height: 300px;

          @media screen and (max-width: $mediaSM) {
            flex-direction: column;
            height: 400px;
            margin-top: 160px;
          }

          .env-text {
            margin-left: 10px;
          }

          .forest-container {
            margin-right: 50px;
            @include cardLG;
            box-shadow: rgba($green, $alpha: 0.3);
            z-index: 1;

            @media screen and (max-width: $mediaSM) {
              margin-bottom: 50px;
            }

            &:hover {
              background-color: $green;
              color: white;

              .circle {
                display: block;
              }

              img {
                display: block;
                z-index: -1;
              }
            }

            img {
              display: none;
              transition: all ease 0.5s;
              position: absolute;
              width: 350px;
              top: -100px;
              left: -35px;
              z-index: -1;
            }

            .circle {
              @include circleLG;
              display: none;
              color: $green;
              text-align: center;
              position: relative;
              left: 200px;
              top: 20px;
              box-shadow: 1px 1px 10px rgba($green, $alpha: 0.5);

              svg {
                margin: auto;
                margin-top: 15px;
              }
            }

            h3 {
              margin-left: 10px;
              margin-top: 10px;
            }
          }

          .sea-container {
            @include cardLG;
            box-shadow: 1px 1px 10px rgba($blue, $alpha: 0.3);

            img {
              display: none;
              transition: all ease 0.5s;
              position: absolute;
              width: 350px;
              top: -100px;
              left: -35px;
              z-index: -1;
            }

            .circle {
              display: none;
              @include circleLG;
              color: $blue;
              text-align: center;
              position: relative;
              left: 200px;
              top: 20px;
              box-shadow: 1px 1px 10px rgba($blue, $alpha: 0.5);

              svg {
                margin: auto;
                margin-top: 15px;
              }
            }

            &:hover {
              background-color: $blue;
              color: white;
              .circle {
                display: block;
              }

              img {
                display: block;
                z-index: -1;
              }
            }

            h3 {
              margin-left: 10px;
              margin-top: 10px;
            }
          }
        }
      }

      .home-right {
        @media screen and (max-width: $mediaSM) {
          height: 0;
        }
        img {
          max-width: 1000px;

          @media screen and (max-width: $mediaSM) {
            position: relative;
            z-index: -1;
            top: -900px;
            max-width: 800px;
          }
        }
      }
    }

    .about {
      margin-top: 130px;
      display: grid;
      grid-template-columns: 1fr 1.3fr;

      @media screen and (max-width: $mediaSM) {
        grid-template-columns: 1fr;
        margin-top: 70px;
      }

      .about-image {
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        box-shadow: $shadow;
        overflow: hidden;
        width: 400px;
        height: 500px;
        transition: all ease 0.5s;

        @media screen and (max-width: $mediaSM) {
          width: 100vw;
          margin: 0;
          border-radius: 0;
          box-shadow: none;

          &:hover {
            transform: none;
          }
        }

        &:hover {
          transform: translateY(-7px);
        }

        img {
          position: relative;
          top: -350px;
          width: 1200px;
          left: -120px;

          @media screen and (max-width: $mediaSM) {
            top: -450px;
          }
        }
      }

      .about-content {
        margin-right: 300px;
        text-align: right;

        @media screen and (max-width: $mediaSM) {
          margin: auto;
          text-align: center;
        }

        h1 {
          font-size: 3rem;
          margin-bottom: 10px;

          @media screen and (max-width: $mediaSM) {
            font-size: 2rem;
            margin-top: 30px;
          }
        }
      }
    }

    .client {
      width: 100%;
      margin-bottom: 200px;
      margin-top: 100px;

      @media screen and (max-width: $mediaSM) {
        margin-bottom: 70px;
        height: max-content;
      }

      p {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 50px;
        font-weight: 600;

        @media screen and (max-width: $mediaSM) {
          font-size: 2rem;
        }
      }

      .client-logo {
        @include flexSVG;
        width: 500px;
        margin-right: auto;
        margin-left: auto;

        @media screen and (max-width: $mediaSM) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100vw;
          row-gap: 30px;
        }

        img {
          height: 50px;
          filter: grayscale(100%);

          @media screen and (max-width: $mediaSM) {
            margin: auto;
          }

          &:hover {
            filter: grayscale(30%);
          }
        }
      }
    }

    .gallery {
      margin-left: 0 !important;
      width: 100%;
      overflow: hidden;
      height: 800px;

      @media screen and (max-width: $mediaSM) {
        height: 200px;
      }

      p {
        z-index: 1;
        color: white;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;

        @media screen and (max-width: $mediaSM) {
          font-size: 0.8rem;
        }
      }

      h2 {
        text-align: center;
        color: white;
        max-width: 1000px;
        display: block;
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 230px;
        z-index: 2;

        @media screen and (max-width: $mediaSM) {
          font-size: 1rem;
          max-width: 300px;
          margin-top: 40px;
        }
      }

      img {
        width: 100%;
        z-index: -1;
        position: relative;
        top: -1000px;

        @media screen and (max-width: $mediaSM) {
          top: -700px;
          width: 1000px;
        }
      }
    }
  }

  .contact {
    margin-top: 200px;
    width: 100%;
    height: max-content;

    form {
      margin-top: 50px;

      input {
        width: 700px;
        display: block;
        @include inputLG;

        @media screen and (max-width: $mediaSM) {
          width: 300px;
        }
      }

      button {
        @include btnLG;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $blue;
        color: white;
      }
    }
  }

  footer {
    text-align: center;
    margin-top: 200px;
    width: 100%;

    height: 400px;

    hr {
      width: 60%;
      margin: auto;
    }

    p {
      margin-top: 50px;
    }
  }
}
